@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Sixtyfour+Convergence&display=swap');

body {
    margin: 0;
    background-color: #111827;
}

.container {
    display: flex;
    justify-content: space-around;
}
h3 {
    color: blanchedalmond;
    text-align: center;
}
.block {
    border: 1px solid seashell;
    border-radius: 10px;
    width: auto;
    background: black;
    align-items: center;
}
#homeScore {
    color: aliceblue;
    text-align: center;
    font-family:'Sixtyfour Convergence', Arial, Helvetica, sans-serif;
}
#guestScore {
    color: aliceblue;
    text-align: center;
    font-family: 'Sixtyfour Convergence', Arial, Helvetica, sans-serif;
}
button{
    font-family: 'Iceland', Arial;
    margin-top: 25px;
    border-radius: 5px;
}